asn1crypto==0.24.0
beautifulsoup4==4.7.1
Bottleneck==1.2.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dataclasses==0.6
dill==0.2.9
fastprogress==0.1.21
Flask==1.0.2
freeze==1.0.10
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numexpr==2.6.8
numpy==1.15.4
olefile==0.46
packaging==19.0
pandas==0.24.2
Pillow==5.4.1
plac==0.9.6
preshed==2.0.1
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
regex==2019.3.9
requests==2.21.0
scipy==1.1.0
six==1.12.0
soupsieve==1.8
spacy==2.0.16
thinc==6.12.1
toolz==0.9.0
tornado==6.0.2
tqdm==4.31.1
typing==3.6.4
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
