<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAI 3-Class Classification Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="home">
    <h1>FastAI 3-Class Classification Project</h1>
    <h2>A plane, a car or a bike?</h2>
    <p>Upload you own image and let the neural network decide!</p>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <!--<button onclick="">Upload image</button>-->
    <label>
        <textarea></textarea>
    </label>
</div>
</body>
<footer>
    Made by <a href="https://iliailmer.github.io">Ilia Ilmer</a>
</footer>
</html>